.nav-menu {
    width: 120px;
    height: 50px;
    border: 2px solid green;
    display: inline-block;
}

.navbar ul {
    list-style-type: none; /* ul li 태그 앞 점 없애기 */
    display: flex;
    background-color: lightgreen;
}

.navbar li {
    width: 150px;
    height: 50px;
    border: 1px solid red;
    margin: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li:hover {
    background-color: bisque;
}

.navbar a {
    text-decoration: none;
    color:black;
}